<!DOCTYPE html>
<html>
    <head>
              <header>
        <h1>
          <div class="logo">
            <b>qu<span>i</span>tt<span>e</span>r</b>
          </div>
        </h1>
        <div class="Title-Subtitle">GAIN INSPIRATION. VOICE FRUSTRATION.
            MAINTAIN MOTIVATION.</div>
        <div>
        <link rel="stylesheet" href="/static/style.css?v=1.0.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            
            {% block content %}{% endblock %}
        </div>
    </body>
</html>