<!DOCTYPE html>
<html>
    <head>
        <title>Quitter Tracker</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <img src="/static/logo.png" alt="logo" width="300" height="300">
            <nav>
                <a href="/">Home</a>
                <div>
                    {% if current_user.is_authenticated %}
                        <a href="/new_post">New Post</a>
                    <br>
                        <a href="/new_friend">Add Friend</a>
                    <br>
                        <a href="/user_profile">View Profile</a>
                    <br>
                        <a href="/logout">Logout</a>
                    {% else %}
                        <a href="/signup">Sign Up</a>
                        <a href="/login">Log In</a>
                    {% endif %}
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>