{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/style.css?v=1.0.0">

<nav>
  <a href="/">Home</a>
  <div>
      {% if current_user.is_authenticated %}
          <a href="/new_post">New Post</a>
      <br>
          <a href="/new_friend">Add Friend</a>
      <br>
          <a href="/profile/{{current_user.username}}">View Profile</a>
      <br>
          <a href="/logout">Logout</a>
      {% else %}
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
      {% endif %}
  </div>
</nav>

<h1>Post Detail</h1>
<h2>Post - {{ post.title }}</h2>
<p>see comments, likes, date posted, user who posted, timestamp, etc</p>

{{ post.audience }}
{{ post.body }}

<h2>Items</h2>

<div class="reactions">
  {% for reaction in post.reactions %}
  <div class="edit-post">
    <a href="/post/{{ post.id }}"
      ><img src="{{ post.photo_url }}" alt="{{ post.title }}" width="200px" />
      <p><strong>{{ post.title }}</strong></p></a>
 
  </div>
  {% endfor %}
</div>

<h2>Edit Post</h2>

<form method="POST" action="{{ url_for('main.edit_post', post_id=post.id) }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Please update the store information:</legend>

    {{ form.title.label }} 
    {{ form.title }}

    {{ form.audience.label }} 
    {{ form.audience }} 

    {{ form.body.label }} 
    {{ form.body }} 

    {{ form.photo_url.label }} 
    {{ form.photo_url }} 

    {{ form.submit }}

    {{ form.delete }}
  </fieldset>
</form>

{% endblock %}
