{% extends 'base.html' %}
{% block content %}

<nav>
    <a href="/">Home</a>
    <div>
        {% if current_user.is_authenticated %}
            <a href="/new_post">New Post</a>
        <br>
            <a href="/profile/{{current_user.username}}">View Profile</a>
        <br>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        {% endif %}
    </div>
  </nav>

  <p>Reaction:</p>
  <ul>
    {% for reaction in post.reactions %}
      <li>{{ reaction.reaction }} {{ reaction.comment }} by {{ reaction.created_by.username }}</li>
    {% endfor %}
  </ul>
  
  <h2>Edit Reaction</h2>
  
    <form method="POST" action="{{ url_for('main.edit_reaction', post_id=post.id, reaction_id=reaction.id) }}">
        {{ form.csrf_token }}
        <fieldset>
        <legend>UPDATE YOUR REACTION:</legend>
    
        {{ form.reaction.label }} 
        {{ form.reaction }}
    
        {{ form.comment.label }} 
        {{ form.comment }} 
    
        {{ form.submit }}
        </fieldset>
    </form>

{% endblock %}
