{% extends 'base.html' %}
{% block content %}

<h1>Quitter Tracker</h1>

<p><em>Quit once and for all with the help of others! Get inspiration, voice 
    frustration, and maintain motiviation with the help of real people going through
    the same journey!
</em></p>

<h2>Homepage</h2>

<!-- {% for store in all_stores %} -->
<!-- <div class="store">
    <a href="/store/{{ store.id }}">{{ store.title }}</a> - 
    {{ store.items|length }} items
    <p><strong>Address:</strong> {{ store.address }}</p>
</div>
{% endfor %} -->

{% endblock %}