{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css?v=1.0.0">
<nav>
    <a href="/">Home</a>
    <div>
        {% if current_user.is_authenticated %}
            <a href="/new_post">New Post</a>
        <br>
            <a href="/new_friend">Add Friend</a>
        <br>
            <a href="/profile/<username>">View Profile</a>
        <br>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        {% endif %}
    </div>
</nav>

<div class="welcome">
<h1>Join Quitter!</h1>
<p>Quit smoking with the support of our community. Our app provides a safe and 
    welcoming space for you to share your experiences, offer and receive support, 
    and celebrate your successes.</p>
</div>

<p><em>
    {% if current_user.is_authenticated %}
    <p>
        Welcome back, {{ current_user.username }}!
        </p>
        
        <p>
            <img class="Profile-Picture" src="{{ current_user.profile_pic }}" alt="Profile Picture">
        </p>
        <p>Quit Date: {{ current_user.quit_date }}</p>
        <p>Number of Days Smoke Free: __ </p>
        <p>Total Money Saved: $_.__</p>
        <P>Random Uplifting Health Fact Here?</P>
        
</em></p>

<h2>Users:</h2>

<ul>
    {% for user in all_users %}
        <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>


<h2>Your Friends:</h2>

{% for friend in current_user.friends %} 
{% endfor %}

<h2>Your Feed:</h2>

{% for post in all_posts %} 
<div class="post">
    <a href="/post/{{ post.id }}">{{ post.title }}</a> - 
    {{ post.id|length }} posts
    <p><strong>Type:</strong> {{ post.audience }}</p>
    <p><strong>Body:</strong> {{ post.body }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}