{% extends 'base.html' %}
{% block content %}

<h1>Quitter Tracker</h1>

<p><em>Quit once and for all with the help of others! Get inspiration, voice 
    frustration, and maintain motiviation with the help of real people going through
    the same journey!
</em></p>

<h2>Homepage</h2>

{% for post in all_posts %} 
<div class="post">
    <a href="/post/{{ post.id }}">{{ post.title }}</a> - 
    {{ post.id|length }} posts
    <p><strong>Type:</strong> {{ post.audience }}</p>
    <p><strong>Body:</strong> {{ post.body }}</p>
</div>
{% endfor %}

{% endblock %}