{% extends 'base.html' %} {% block content %}

<h1>New Post</h1>

<p>Form to create new post will be here</p>

<!-- <form method="POST" action="{{ url_for('main.new_item') }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Please enter your information:</legend>
    TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
    <!-- {{ form.name.label }} {{ form.name }} -->
    <!-- Show form errors -->
    <!-- <ul>
      {% for error in form.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.price.label }} 
    {{ form.price }} 
    
    {{ form.category.label }} {{
    form.category }} 
    
    {{ form.photo_url.label }} 
    {{ form.photo_url }} 
    
    {{form.store.label }} 
    {{ form.store }} 
    
    {{ form.submit }}
  </fieldset>
</form> --> -->

{% endblock %}
