{% extends 'base.html' %} {% block content %}

<h1>New Post</h1>

<p>Form to create new post will be here</p>

<form method="POST" action="{{ url_for('main.new_posts') }}">
  {{ form.csrf_token }}
  <fieldset>
    <legend>Enter the following information</legend>
    {{ form.title.label }} {{ form.title }}

    <!-- Show form errors -->
    <ul>
      {% for error in form.errors %}
      <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>

    {{ form.audience.label }} 
    {{ form.audience }}
    
    {{ form.body.label }} 
    {{ form.body }}
    
    {{ form.photo_url.label }} 
    {{ form.photo_url }} 
    
    {{form.store.label }} 
    {{ form.store }} 
    
    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
