{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css?v=1.0.0">

{% if current_user.is_authenticated %}
<a href="/">Homepage</a>
<br>
<a href="/new_post">New Post</a>
<br>
<a href="/new_friend">Add Friend</a>
<br>
<a href="/user/<user_id>">Update Profile</a>
<br>
<a href="/logout">Logout</a>
{% endif %}

<p>
Welcome to {{ current_user.username }}'s profile.
</p>

<p>
    <img class="Profile-Picture" src="{{ current_user.profile_pic }}" alt="Profile Picture">
</p>
<p>Name: {{current_user.username}}</p>
<p>Quit Date: {{ current_user.quit_date }}</p>
<p>Number of Days Smoke Free: {{ smoke_free_days }}</p>
<p>Total Money Saved (on average): $x.xx</p>

<p>About Me: {{ current_user.about_me }}</p>
<ul>
    <li>All</li>
    <li>Posts</li>
    <li>By</li>
    <li>This</li>
    <li>User</li>
    <li>Will</li>
    <li>Go</li>
    <li>Here</li>
</ul>
{% endblock %}
