{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css?v=1.0.0">

{% if current_user.is_authenticated %}
<a href="/">Homepage</a>
<br>
<a href="/new_post">New Post</a>
<br>
<a href="/new_friend">Add Friend</a>
<br>
<a href="/user/<user_id>">Update Profile</a>
<br>
<a href="/logout">Logout</a>
{% endif %}

<h1>{{ current_user.username }}</h1>
<h2>Update User Profile</h2>

<p><strong> Username: {{ current_user.username }}</strong> </p>


<p>Current Profile Photo:<img src="{{ current_user.profile_pic }}" width="250px" height="250px"></p> 

<p><strong>First Name: </strong> {{ current_user.first_name }}</p>
<p><strong>Last Name: </strong> {{ current_user.last_name }}</p>
<p><strong>Email: </strong> {{ current_user.email}}</p>
<p><strong>Birth Date: </strong> {{ current_user.birth_date }}</p>
<p><strong>Quit Date: </strong> {{ current_user.quit_date }}</p>
<p><strong>Average Cigarettes Smoked/Day: </strong> {{ current_user.abg_cigs}}</p>
<p><strong>About Me:</strong> {{ current_user.about_me }}</p>





<h2>Update Your Information Here</h2>

<form method="POST" action="{{ url_for('main.profile', username=user.username) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please update your user info:</legend>

        {{ form.password.label }}
        {{ form.password }}
        <ul>
        {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.first_name.label }}
        {{ form.first_name }}
        <ul>
        {% for error in form.first_name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.last_name.label }}
        {{ form.last_name }}
        <ul>
        {% for error in form.last_name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.email.label }}
        {{ form.email(placeholder="ex. test@gmail.com") }}
        <ul>
        {% for error in form.email.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.birth_date.label }}
        {{ form.birth_date(placeholder="YYYY-mm-dd") }}
        <ul>
        {% for error in form.birth_date.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.quit_date.label }}
        {{ form.quit_date(placeholder="YYYY-mm-dd") }}
        <ul>
        {% for error in form.quit_date.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.avg_cigs.label }}
        {{ form.avg_cigs}}
        <ul>
        {% for error in form.avg_cigs.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.about_me.label }}
        {{ form.about_me}}
        <ul>
        {% for error in form.about_me.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.profile_pic.label }}
        {{ form.profile_pic(placeholder="URL") }}
        <ul>
        {% for error in form.profile_pic.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}